#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-heading {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;

  margin: auto 0;
  width: 80%;
  flex-grow: 2;
  margin: 2rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.contact-input,
.contact-textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  outline: 0;
  padding: 0.75rem;
  width: 100%;
  transition: 0.3s all ease;
}
.contact-input:focus-visible,
.contact-textarea:focus-visible {
  border-radius: 4px;
  border: 1px solid #121212;
}
.contact-input:focus-visible::placeholder,
.contact-textarea:focus-visible::placeholder {
  color: #e5e5e5;
}
.contact-textarea {
  flex-grow: 2;
}
.contact-submit-btn {
  font-family: 'Open Sans';
  font-weight: 300;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: var(--dark);
  color: var(--white);
  font-size: 16px;
  padding: 12px;
  width: 100%;
  text-align: center;
  transition: 0.3s all ease;
}

.contact-submit-btn:hover {
  background-color: #212121;
  cursor: pointer;
}
.contact-submit-btn:active {
  transform: translateY(2px);
}
#contact footer {
  text-align: center;
  background-color: var(--dark);
  color: var(--white);
  width: 100%;
  padding: 1rem 0;
}
.footer-link {
  font-weight: 700;
  color: #0d6efd;
}
.footer-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer-link:active {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .contact-form {
    width: 60%;
    gap: 8px;
  }
}

@media only screen and (min-width: 992px) {
  .contact-heading {
    margin-top: 5rem;
  }
  .contact-form {
    width: 40%;
    gap: 8px;
  }
}
